body{
background: #0f172a;
color: white;
font-family: Arial;
margin:0;
}

.container{
max-width: 500px;
margin:auto;
padding:20px;
}

h1{
text-align:center;
color:#22c55e;
}

.card{
background:#1e293b;
padding:20px;
margin-top:20px;
border-radius:12px;
box-shadow:0 0 20px rgba(0,0,0,0.4);
}

button{
width:100%;
padding:12px;
border:none;
border-radius:10px;
background:#22c55e;
color:white;
font-weight:bold;
margin-top:10px;
}

button:hover{
background:#16a34a;
}

input{
width:100%;
padding:12px;
border-radius:8px;
border:none;
margin-top:10px;
}

.pixBox{
display:none;
background:#0f172a;
padding:10px;
margin-top:10px;
border-radius:10px;
}

.pix{
font-weight:bold;
color:#22c55e;
}
